<div class="container">
    <div class="card text-center">

        <div class="card-header myCardHeader">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="text-left text-primary font-weight-bold">Orders Confirmed </h3>
                </div>

            </div>
        </div>

        <div class="card-body">
            <table class="table table-bordered table-hover myTable">
                <thead class="text-primary">
                    <tr>
                        <th class="nowrap">
                            <span class="mr-1">Order_ID</span>
                        </th>
                        <th>Product name</th>
                        <th>Quantity</th>
                        <th>TotalPrice</th>
                        <th>Customer</th>
                        <th>Phone</th>

                        <th><em class="fa fa-cog"></em></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <ng-container *ngFor="let item of userList">
                                        <app-user-item [user]="item">
                                        </app-user-item>
                                    </ng-container> -->
                    <tr *ngFor="let item of ordertList " [ngClass]="{'even':item.order_id %2 ===0}">
                        <td>{{item.order_id}}</td>
                        <td>{{item.product_name}}</td>
                        <td> {{item.product_number}} </td>
                        <td>{{item.product_price}}</td>

                        <td>{{item.name}}</td>
                        <td>{{item.phone}}</td>
                        <td>
                            <button class="btn btn-info mr-1 " data-toggle="modal" (click)="EditProduct(item)"
                                data-target="#myModal1"><i class="fa fa-info"></i></button>
                            <button class="btn btn-danger" (click)="DeleteOrder(item.id)"><i
                                    class="fa fa-times"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="card-footer myCardFooter">
            <nav>
                <ul class="pagination justify-content-center">
                    <ng-container *ngFor="let item of totalPage">
                        <li><button class="btn mr-1"
                                [ngClass]="{'btn-secondary':item!==currentPage,'btn-info':item===currentPage}"
                                (click)="getAllOrder(item)">{{item}}</button></li>
                    </ng-container>
                </ul>
            </nav>
        </div>
    </div>


    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <header class="head-form mb-0">
                    <h2>Add Product</h2>
                </header>

                <!-- Modal Header -->
                <!-- 	<div class="modal-header">
                                    <h4 class="modal-title" id="modal-title">Modal Heading</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div> -->

                <!-- Modal body -->
                <div class="modal-body">

                    <form #formSignUp="ngForm">


                        <input placeholder="ProductName" type="text" name="productName" required #productName="ngModel"
                            ngModel>
                        <p class="alert alert-danger mt-2"
                            *ngIf="productName?.errors?.required && (productName.dirty || productName.touched)">
                            Vui lòng nhập tên sản phẩm </p>


                        <input placeholder="Price" type="number" #productPrice="ngModel" required name="productPrice"
                            ngModel>
                        <p class="alert alert-danger mt-2"
                            *ngIf="productPrice?.errors?.required &&  (productPrice.dirty || productPrice.touched)">
                            Vui lòng nhập giá sản phẩm </p>

                        <input type="text" name="productImage" #productImage="ngModel" required ngModel
                            placeholder="Image" />
                        <p class="alert alert-danger mt-2"
                            *ngIf="productImage?.errors?.required && (productImage.dirty || productImage.touched)">
                            Vui lòng nhập link hình ảnh </p>

                        <textarea placeholder="Description" name="description" rows="10" cols="30"
                            #description="ngModel" required ngModel>Description</textarea>
                        <p class="alert alert-danger mt-2"
                            *ngIf="description?.errors?.required && (description.dirty || description.touched)">
                            Vui lòng nhập mô tả sản phẩm </p>


                        <select class="form-control" name="categoryId" ngModel>
                            <option *ngFor="let item of categoriesList" value={{item.id}}>{{item.category_name}}
                            </option>

                        </select>


                    </form>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer" id="modal-footer">
                    <button id="btnThemNV" type="submit" (click)="_handleOnSubmitAddForm(formSignUp)"
                        class="btn btn-success">Add Product</button>
                    <button id="btnDong" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>


    <!-- form edit -->
    <!-- The Modal -->
    <div class="modal fade" id="myModal1">
        <div class="modal-dialog">
            <div class="modal-content">

                <header class="head-form mb-0">
                    <h2>Order Detail #{{ orderID}}</h2>
                </header>

                <!-- Modal Header -->
                <!-- 	<div class="modal-header">
                                    <h4 class="modal-title" id="modal-title">Modal Heading</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div> -->

                <!-- Modal body -->
                <div class="modal-body">

                    <form #formEdit="ngForm">
                        <input placeholder="Customer's Name" type="text" name="name" required #name="ngModel" ngModel>
                        <p class="alert alert-danger mt-2"
                            *ngIf="name?.errors?.required && (name.dirty || name.touched)">
                            Please enter Customer's name</p>


                        <input placeholder=" Customer's Phone" type="text" #phone="ngModel" required name="phone"
                            ngModel>
                        <p class="alert alert-danger mt-2"
                            *ngIf="phone?.errors?.required &&  (phone.dirty || phone.touched)">
                            Vui lòng nhập số điện thoại khách hàng </p>

                        <input placeholder=" Customer's Phone" type="text" #address="ngModel" required name="address"
                            ngModel>
                        <p class="alert alert-danger mt-2"
                            *ngIf="address?.errors?.required &&  (address.dirty || address.touched)">
                            Vui lòng nhập địa chỉ khách hàng </p>

                        <input placeholder="Email" type="email" name="email" required #email="ngModel"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" ngModel>
                        <p class="alert alert-danger mt-2"
                            *ngIf="email?.errors?.required && (email.dirty || email.touched)">
                            Vui lòng nhập email </p>
                        <p class="alert alert-danger mt-2" *ngIf="email?.errors?.pattern"> Email phải đúng định dạng
                        </p>

                        <select class="form-control" name="productId" ngModel>
                            <option *ngFor="let item of productsList" value={{item.id}}>{{item.product_name}}
                            </option>

                        </select>

                        <input placeholder=" Product Number" type="text" #productNumber="ngModel" required
                            name="productNumber" ngModel>
                        <p class="alert alert-danger mt-2"
                            *ngIf="productNumber?.errors?.required &&  (productNumber.dirty || productNumber.touched)">
                            Vui lòng nhập số lượng </p>

                        <select class="form-control" name="types" ngModel>
                            <option value=0>Confirm
                            </option>
                            <option value=1>Shipping
                            </option>
                            <option value=2>Complete
                            </option>

                        </select>


                    </form>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer" id="modal-footer">

                    <button type="button" (click)="_handleOnSubmitEditForm(formEdit)"
                        class="btn btn-success">Update</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>