<div class="container1" onclick="onclick">
    <div class="top"></div>
    <div class="bottom"></div>
    <div class="center">
        <h2>Reset Password</h2>
        <form #formReset="ngForm" (submit)="ConfirmResetPassword(formReset)">

            <input placeholder="New Password" type="password" #newPassword="ngModel" required minlength="6"
                maxlength="16" name="newPassword" ngModel>

            <p class="alert alert-danger mt-2"
                *ngIf="newPassword?.errors?.required && (newPassword.dirty || newPassword.touched)">
                Password is required</p>
            <p class="alert alert-danger mt-2" *ngIf="newPassword?.errors?.minlength || newPassword?.errors?.maxlength">
                Must contain at least 6 or less than 16 characters</p>

            <input placeholder="Confirm Pasword" type="password" #confirmNewPassword="ngModel" required minlength="6"
                maxlength="16" name="confirmNewPassword" pattern="{{ newPassword.value }}" ngModel>

            <p class="alert alert-danger mt-2"
                *ngIf="confirmNewPassword?.errors?.required && (confirmNewPassword.dirty || confirmNewPassword.touched)">
                Confirm Password is required </p>
            <p class="alert alert-danger mt-2"
                *ngIf="confirmNewPassword?.errors?.minlength || confirmNewPassword?.errors?.maxlength">
                Must contain at least 6 or less than 16 characters </p>
            <p class="alert alert-danger mt-2" *ngIf="confirmNewPassword?.errors?.pattern"> Password & Confirm Password
                does not match</p>
            <button class=" btn btn-success mt-3" type="submit">Confirm</button>
        </form>



    </div>
</div>